[Unit]
Description=webtermd Web Terminal
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=robot
WorkingDirectory=/home/robot
ExecStart=/opt/webtermd/webtermd --addr=:8080
Restart=always
RestartSec=5

# Security hardening
# NoNewPrivileges=yes
# PrivateTmp=yes
# ProtectSystem=strict
# InaccessiblePaths=/opt
# InaccessiblePaths=/etc/nginx
# InaccessiblePaths=/etc/systemd

[Install]
WantedBy=multi-user.target
